/* Remove default background */
.alt, .tepe, .tdSag, .tdSol, .sol, .sag, .data td , .data th, a.buton > span{
    background: unset !important;
    background-color: unset !important;
}
body{
    background: unset !important;
    background-attachment: fixed !important;
    background-size: 100% auto !important;
    background-repeat: no-repeat;
    background-color: black;
    background-image: var(--background) !important;
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif !important;
}
.menu a{
    background: unset !important;
    background-color: rgba(var(--bgR), var(--bgG), var(--bgB), var(--opacity)) !important;
}
.menu a .selected{
    background: unset !important;
    background-color: rgba(var(--bgR), var(--bgG), var(--bgB), 1) !important;
}
.icerik{
    background-color: rgba(var(--bgR), var(--bgG), var(--bgB), var(--opacity)) !important;
    color: var(--accent) !important;
}
.yol{
    background: unset !important;
    background-color: black !important;
}
.orta{
    background-color: rgba(var(--bgR), var(--bgG), var(--bgB), var(--opacity)) !important;
}
.panoElemani{
    background: unset !important;
    border: 2px solid var(--mainColor) !important;
}
p, h1, h2, h3, h4, h5, h6, strong, span, #text{
    color: var(--textColor) !important;
}
th{
    color: var(--headerColor) !important;
}
a{
    color: var(--hlColor) !important;
}
.tepe a:hover{
    color: var(--accentS) !important;
}
.ic > img{
    opacity: 0% !important;
}
.bidb{
    opacity: 0% !important;
}
#aspnetForm > div.tasiyici > div.icerik > div.orta > div > div.dosyaSistemi > div:nth-child(2){
    background-color: unset !important;
}
.menuErisimAgaci span:hover{
    color: var(--accent) !important;
}
.prototip_StemImage, .toolbar, .content{
    background: unset !important;
}
.prototip_CornerWrapper.prototip_CornerWrapperTopLeft, .prototip_BetweenCorners, .borderBottom, .cornerCanvasTr{
    opacity: 0% !important;
}
.borderMiddle{
    background-color: var(--accent) !important;
}
a.buton{
    background: unset !important;
    background-color: var(--accent) !important;
    padding: 2px !important;
}
a.buton:hover{
    background-color: var(--accentS) !important;
}
.tepe > .menu > div:hover{
    background-color: rgba(var(--bgR), var(--bgG), var(--bgB), .8) !important;
}
.bilgiKayit{
    background-color: unset !important;
}
#ctl00_ContentPlaceHolder1_gvGecmisMeetings > tbody > tr > td > div{
    border: 2px solid var(--mainColor) !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}
.orta .ic table.data > tbody > tr > th{
    border-bottom: 1px solid var(--mainColor) !important;
    border-top:  1px solid var(--mainColor) !important;
}
.orta .ic table.data > tbody > tr > td {
    border-bottom: 1px solid var(--mainColor) !important;
    color: var(--accentS) !important;
}
.yolAna{
    background: unset !important;
    background-color: rgba(var(--bgR), var(--bgG), var(--bgB), var(--opacity));
}
#ctl00_ContentPlaceHolder1_gvOdevDosyaTipleri_ctl02_fuUpload{
    border: none !important;
    background: unset !important;
}
#ctl00_ContentPlaceHolder1_gvMeetingList > tbody > tr > td > div{
    box-shadow: none !important;
}
.closeVimeo{
    color: black !important;
}
.bilgiKayit{
    border: 2px solid var(--mainColor) !important;
    border-radius: 0 !important;
}